
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Helvetica;
}

/*----------head--------------*/

html{
    scroll-behavior: smooth;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 6px 50px;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    transition: all 0.3s ease;
}

.navbar.reduce{
    padding: 3px 50px;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    color: #fff;
    font-size: 42px;
    font-weight: 600;
    font-family: serif;
}

.navbar .logo span{
    color: #000000;
    font-weight: 600;
    font-family: serif;
}

.navbar .menu.active{
    left: 0;
}

.navbar .menu li{
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 20px;
    margin-left: 28px;
    transition: font-size 0.5s ease;
}

.navbar .menu li a:hover{  
    font-size: 24px;
}

.menu-btn{
    cursor: pointer;
    display: none;
}

.menu-btn i.active::before{
    content: "\f00d";
    color: #fdc45b;
}


  /*Sección home*/

.home{
    display: flex;
    background: url(assets/wp8737475.webp);
    object-fit: cover;
    background-size: cover;
    height: 100vh;
    color: #fff;
    min-height: 500px;
}

.home .max-width{
    margin: auto 0 auto 48px;
}

.home .home-content .text-1{
    font-size: 32px;  
}

.home .home-content .text-2{
    font-size: 76px;
    font-weight: 600; 
    margin-top: 10px; 
    margin-left: -2px;
}

.home .home-content .text-3{
    font-size: 48px; 
    margin: 10px 0; 
    font-weight: 600;
}

.home .home-content .text-3 span{
    color: #4b64e0; 
    font-weight: 600; 
}


/*section aplica estilos de linea a a varias secciones*/

section{
    padding: 70px 0;
}

.about .about-content,
.services .serv-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;  
}

section .title{
    position: relative;
    text-align: center;
    font-size: 42px;
    margin-top: 30px;
    font-weight: 600;
    margin-bottom: 60px;
    padding-bottom: 24px;
}
 /*--------Efecto de lineas--------*/
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 220px;
    height: 3px;
    background-color: #111;
    transform: translateX(-50%);
}

section .title::after{
    position: absolute;
    padding: 0 4px;
    bottom: -12px;
    left: 50%;
    font-size: 26px;
    color: #4158D0;
    background: #ebebeb;
    transform: translateX(-50%);
}

section:nth-child(4) .title::after,
section:nth-child(6) .title::after{
    color: #fdc45b;
}
/*Estilos sección acerca de mí*/
.about,
.skills,
.contact{
    background: #ebebeb;
}

.about .title::after{
    content: "Quién soy";
}

.about .about-content .left{
    width: 35%;
    margin: auto;
}

.about .about-content .left img{
    height: 450px;
    width: 450px;
    object-fit: cover;
    border: 2px solid #202020;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    object-position: 0 5%;
    border-radius: 5%;
    
}

.about .about-content .right{
    width: 40%;
    margin: auto;
}

.about .about-content .right .text{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    
}

.about .about-content .right .text span{
    color: #4158D0;
}

.about .about-content .right p{
    text-align: start;
    font-size: 20px;
    
}
 
.about .about-content .right a{
    display: inline-block;
    background: #4158D0;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 25px;
    border-radius: 6px;
    border: 2px solid #4158D0;
    transition: all .5s ease;
}

.about .about-content .right a:hover{
    color: #4158D0;
    font-weight: 500;
    background: none;
}

/*-----Servicios-----*/

.services, 
.proyects{
    color: #fff;
    background: #222;
}

.services .title::before,
.proyects .title::before{
    background: #d4d4d4;
}

.services .title::after,
.proyects .title::after{
    background-color: #222;
    content: "Te brindo";
}

.service{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container .card{
    position: relative;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transform: 0.5s;
}


.container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    background: #4158D0;
    transform: translateY(0);
    transition: 0.5s;
}

.container .card .face.face1 .content{
    opacity: 0.5;
    
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 100px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #d4d4d4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 1);
    transform: translateY(-100px);
    transition: 0.5s;
}

.container .card:hover .face.face2{
    transform: translateY(0px);
}

.container .card .face.face2 .content p{
    color: #000;
    text-align: center;
    font-weight: 500;

}



/*----Estilos Skills--------*/


.skills .title::after{
    content: "Qué empleo";
}


.container-2{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}



.skills{
    text-align: center;
    padding: 50px 0 100px;
}

.skills .text{
    padding-bottom: 20px;
}

.skills h2{
    font-size: 42px;
    margin-top: 70px;
    font-weight: 600;
    margin-bottom: 60px;
    color: #111111;
    padding-bottom: 20px;
}

.skills h2 span{
    color: #4158D0;
}

.skills .skill-card{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 100px;
    margin-top: 50px;
}

.skills .skill-card .card{
    padding: 25px;
    text-align: center;
    background-color: #111111;
    border: 3px solid #4158D0;
    color: #fff;
    transition: 1s;
    position: relative;
}

.skills .card h4{
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: 500;
}

.skills .card p{
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

.skills .card i{
    font-size: 42px;
    padding: 15px;
    width: 75px;
    height: 75px;
    color: #111111;
    background-color: #4158D0;
    position: absolute;
    top: calc(-75px / 2);
    transform: rotate(45deg);
    left: 39%;
    transition: 1s;
    border: 3px solid #4158D0;
}

.skills .card:hover{
    background-color: transparent;
}

.skills .card:hover i{
    transform: rotate(0deg);
    color: #fff;
    background-color: #111111;
}

.skills .card:hover h4, .skills .card:hover p{
    color: #111111;
    transition: 1s;
}

.skills a{
    border: 3px solid #4158D0;
    background-color: #4158D0;
    color: #000;
    transition: background-color 0.8s;
    padding: 12px 20px;
    z-index: 50px;
    text-decoration: none;
}

.skills a:hover{
    background-color: #111111;
    color: #4158D0;
}


/*---------Sección proyectos---------*/

.proyects .title::after{
    content: "Portafolio";
}

.proyects{
    padding-bottom: 50px;
}

.proyects .carousel .card{
    background: #333;
    border-radius: 6px;
    padding: 25px 35px;
    margin: 0 35px;
    text-align: center;
    transition: all 1s ease;
}

.proyects .carousel .card:hover{
    background: #4158D0;
}

.proyects .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
}

.proyects .carousel .card:hover .box{
    transform: scale(1.05);
}

.proyects .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.proyects .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #4158D0;
    transition: all 1s ease;
}

.proyects .carousel .card:hover img{
    border-color: #fff;
    cursor: pointer;
}

.owl-dots{
    text-align: center;
    margin-top: 20px;
}

.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #4158D0!important;
    transform: all .5 ease;
}

.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover{
    background: #4158D0!important;
}

/* Sección Contacto*/

.contact .title::after{
    content: "¿Interesado?";
}

.contact .contact-content .column{
    width: calc(50% - 60px);
    margin: auto;
}

.contact .contact-content .text{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    
}

.contact .contact-content .left .icons{
    margin: 10px 0;
}

.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info{
    margin-left: 30px;
}

.contact .contact-content .row i{
    font-size: 28px;
    color: #4158D0;
    margin-left: 3px;
}

.contact .contact-content .info .head{
    font-weight: 600;
}

.contact .contact-content .info .sub-title{
    color: #202020;
}

.contact .right form .fields{
    display: flex;
}

.contact.right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea{
    height: 140px;
    padding: 10px 0;
    width: 100%;
    margin: 10px 0;
}

.contact .right form .name{
    margin-right: 10px;
}

.contact.right form .email{
    margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 10px 10px;
    font-size: 17px;
}

.contact .right form .textarea textarea{
    resize: none;
}

.contact .right form .button{
    height: 47px;
    width: 170px;
}

.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid #4158D0;
    background: #4158D0;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all .5s ease;
}

.contact .right form .button button:hover{
    color: #4158D0;
    background: none;
}


/*-------footer----------*/

footer{
    background: #111;
    padding: 20px 23px;
    color: #fff;
}

footer span a{
    color: #4e67e4;
    text-decoration: none;
}

footer span a:hover{
    text-decoration: underline;
}








/*Media queries responsivas*/

@media (max-width: 81.25rem){
    .max-width{
        margin: auto;
    }
    .about .about-content .right{
        width: 40%;
    }
    .about .about-content .left{
        width: 60%;
    }
    
}


@media (max-width: 81rem){
    .max-width{
        padding: 0 30px;
    }
    .about .about-content .left img{
        height: 350px;
        width: 350px;
        object-fit: cover;
        border-radius: 6%;
    }
    .about .about-content .right{
        width: 30%;
    }
    .about .about-content .left{
        width: 50%;
    }
}

@media (max-width: 62rem){
    .max-width{
        padding: 0 25px;
    }
    
}



@media (max-width: 60rem){
    .max-width{
        padding: 0 20px;
    }
    
    .menu-btn{
        display: block;
        padding: 0;
        z-index: 999;
        font-size: 24px;
        color: #fff;
        
    }

    .navbar .logo a{
        font-size: 38px;
    }
    

    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: linear-gradient(90deg, #101010, #202020);
        text-align: center;
        padding-top: 60px;
        transition: all 0.3s ease;
    }

    .navbar .menu li a{
        color: #fdc45b;
        font-weight: 600;
    }

    .navbar .menu.active{
        left: 0;
    }

    .navbar .menu li{
        display: block;
    }

    .navbar .menu li a{
        display: inline-block;
        margin: 25px 0;
        font-size: 20px;
    }

    .home .home-content .text-2{
        font-size: 70px;
    }
    
    .home .home-content .text-3{
        font-size: 35px; 
    }
   
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }

    .max-width{
        max-width: 800px;
    }

    .about .about-content .column{
        width: 100%;
    }

    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right{
        flex: 100%;
    }

    .services .serv-content .card{
        width: calc(50% - 30px);
        margin-bottom: 20px;
    }
    
    .skills .skills-content .card{
        width: calc(50% - 20px);
    }

    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }

}

@media (max-width: 43rem){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    
    .home .home-content .text-3{
        font-size: 32px; 
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;  
    }
    
}

@media (max-width: 31rem){
    .home .home-content .text-2{
        font-size: 50px;
    }
    
    .home .home-content .text-3{
        font-size: 27px; 
    }
}




@media (min-width: 768px) {
    .container-2 {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container-2 {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container-2 {
        width: 1300px;
    }
}






